@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Yeseva+One&display=swap&subset=cyrillic,cyrillic-ext');

@media screen and (max-width: 1100px) {
    
    .nav__showmenu{
      font-size: 95px;
      top:0;
      left: 20px;
    }
  
    .header__logo{
      position: fixed;
      top: 45px;
      right: 20px;
    }
  
    .header__logo img{
      width: 120px;
      height: 120px;
    }
  
  
    .intro{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background: url("../images/sliderImage.jpg") center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }
    
    .intro h2{
      font-size: 65px;
      margin-bottom: 30px;
    }
    
    .intro h1{
      font-family: 'Yeseva One', cursive;
      font-size: 100px;
      color: #fff;
      font-weight: 400;
      line-height: 0.9;
    }
    
  
  
  
    .btnGetStarted{
      display: inline-block;
      vertical-align: middle;
      padding: 15px 40px;
      background: #fff;
      margin-top: 120px;
      border-radius: 45px;
      color: black;
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 60px;
      transition: box-shadow .1s linear;
    }
    .btnGetStarted:hover{
      color: #fff;
      background: #2c2c2c;
      box-shadow: 0 14px 23px 1px #fff;
    }
    
  
  
  
    .block__info{
        background: url("../images/sliderImage2.jpg") center no-repeat;
        background-size: cover;
        display: flex;
     }
     .block__info .container{
       display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
     }
     .block__info img{
       width: 670px;
       height: 580px;
    }

     .text__block{
        display: flex;
        flex-direction: column;
     
      }
      .text__block h2{
        text-align: center;
        font-size: 90px;
        padding-top: 80px;
     }
      .text__block p{
       max-width: 650px;
       font-size: 44px;
       font-weight: 300;
       line-height: 1.3;
       text-align: center;
       padding-top: 55px;
     }


     /* rules */
     .block__rules{
        background: black;
        height: 100vh;
        display: flex;
      }
      .block__rules .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 60px 0;
        
      }
      .item{
        width: 60%;
      }
      .item h3{
        font-size: 52px;
        font-family: 'Yeseva One', cursive;
        color: #fff;
        font-weight: 400;
      }
      .item p{
        font-size: 40px;
        color: #fff;
        font-weight: 300;
        padding-top: 23px;
      }
      
      .item:before {
        display: block;
        margin: 0 auto 20px;
      }
      .item:after{
        display: block;
        content: "";
        margin: 35px auto 0;
        width: 200px;
        height: 4px;
        background-color: #f1eee9 ;
      }
      
      .item:nth-child(1):before {
        content: url("../images/icon1c.png");
      }
      .item:nth-child(2):before {
      content: url("../images/icon2c.png");
      }
      .item:nth-child(3):before {
      content: url("../images/icon3c.png");
      }
      .item:nth-child(4):before {
      content: url("../images/icon4c.png");
      }
      
      .item:hover::after{
        box-shadow: 0 0 16px 5px #fff;
      
      }
  }
  