@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Yeseva+One&display=swap&subset=cyrillic,cyrillic-ext');

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body{
  margin: 0;
  cursor: default;
}
img {
  max-width: 90%;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

h1{
  font-family: 'Yeseva One', cursive;
  font-size: 80px;
  color: #fff;
  font-weight: 400;
  line-height: 0.9;
}

h2{
  font-size: 50px;
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-weight: 400;
  line-height: 1.1;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 35px;
}
section{
  height: 100vh;
}

/* Container */

.container{
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Menu */
input {display: none;}
input:focus,
input:hover {outline:none;}
label {cursor: pointer;}

.header{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(to left, #4E3527, #211B19);
}
.header__logo{
  position: fixed;
  top: 10px;
  right: 10px;
}
.header__logo img{
  display: block;
  width: 60px;
  height: 60px;
}

.nav {
  user-select: none;
  position: fixed;
  top: 10px;
  left: 10px;
  color: #fff;
}

.nav__showmenu {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-left: -10px;
    padding: 5px 10px 10px;
    top: 2px;
    font-size: 45px;
}

.nav__back {
    position: fixed;
    transition: background-color .3s;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100vh;
    margin: 0;
    padding: 20px 0;
    text-transform: uppercase;
    background-color: #2c2c2c;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    backface-visibility: hidden;
}

.menu__item {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-bottom: #565656 1px solid;
    padding: 64px 0;
    font-size: 30px;
}


.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover{opacity: 0.7;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#fff;}
.nav__check:checked~.menu {transform: translateX(0);}



/* Intro */

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: url("../images/sliderImage.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro h2{
  margin-bottom: 30px;
}


/* Buttons */

.btnGetStarted{
  display: inline-block;
  vertical-align: middle;
  padding: 15px 40px;
  background: #2c2c2c;
  margin-top: 120px;
  border-radius: 45px;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30px;
  transition: box-shadow .1s linear;
}
.btnGetStarted:hover{
  color: #2c2c2c;
  background: #fff;
  box-shadow: 0 0 18px 3px #fff;
}


.block__info{
  background: url("../images/sliderImage2.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
 }
 .block__info .container{
   justify-content: center;
   display: flex;
 }
 .block__info img{
   margin-right: 100px;
 }
 
 .text__block{
   display: flex;
   flex-direction: column;

 }
 .text__block h2{
  text-align: start;
}
 .text__block p{
  max-width: 630px;
  margin: auto;
  text-align: start;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
}


 

/* items */
.block__items{
  text-align: center;
  height: 300px;
  background: black;
}
.block__items .container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item{
  display: block;
  width: 300px;
  margin: 20px 10px;
}
.item h3{
  font-size: 26px;
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-weight: 400;
}
.item p{
  font-size: 26px;
  color: #fff;
  font-weight: 300;
  padding-top: 23px;
}

.item:before {
  display: block;
  margin: 0 auto 20px;
}
.item:after{
  display: block;
  content: "";
  margin: 35px auto 0;
  width: 70px;
  height: 3px;
  background-color: #f1eee9 ;
}

.item:nth-child(1):before {
  content: url("../images/icon1.png");
}
.item:nth-child(2):before {
content: url("../images/icon2.png");
}
.item:nth-child(3):before {
content: url("../images/icon3.png");
}
.item:nth-child(4):before {
content: url("../images/icon4.png");
}

.item:hover::after{
  box-shadow: 0 0 16px 5px #fff;

}

/* rules */
.block__rules{
  text-align: center;
  height: 400px;
  background: url("../images/bg_rules.jpg") center no-repeat;
  background-size: cover;
}
.block__rules .container{
  display: flex;
  flex-direction: column;
}
.block__rules .wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
.block__rules h2{
  padding-top: 60px;
}
.rule{
  display: block;
  width: 300px;
  margin: 20px 10px;
}
.rule p{
  font-size: 26px;
  color: #fff;
  font-weight: 300;
  padding-top: 23px;
}



/* Timetable */

.block__timetable{
  background: url("../images/bg_table.jpg") center no-repeat;
  background-size: cover;
  height: 100%;
}
.block__timetable .container{
  display: flex;
  flex-direction: column;
}
.block__timetable .text__block{
  align-items: center;
}
.block__timetable .text__block h2{
 padding-top: 20px;
}

.block__timetable .text__block p{
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
}
.table{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 50px;
}
.table__block{
  margin: 10px;
}
.table__item{
  width: 200px;
  height: 50px;
  background: #565656;
  border-radius: 25px;
  margin: 15px;
}
.table__block h3{
  font-family: 'Yeseva One', cursive;
  color: #fff;
  font-weight: 400;
  font-size: 19px;
}
.table__item p{
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 50px;
  }


/* form */

.block__form{
  background: #000000;
  display: flex;
  align-items: center;
}

.block__form .container{
  display: flex;
  justify-content: center;
}

.block__form img{
  max-width: 40%;
  margin-right: 50px;
}


.g-recaptcha{
  display: -webkit-inline-box;
  transform-origin:0 0;
-webkit-transform-origin:0 0;
}


/* form animation starts */
.form {
  background: #fff;
  text-align: center; 
  box-shadow: 0px 0px 20px 5px #AAA; 
  border-radius: 15px;
  
  width: 500px; 
  height: 530px;
  margin: 30px auto 0 auto;
  padding: 10px 10px;  
  animation: bounce 1.5s infinite;
}

.entry{
  background: #2c2c2c;
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 5px solid #000; 
  transition: all 0.5s ease 0s;
  
  color: white;
  font-size: 20px;
  height: 60px;
  width:80%;
}
.name:hover,
.email:hover,
.tel:hover
{
  height:70px;
  width:85%;
  box-shadow: 0px 2px 25px 2px #000;
}


input::-webkit-input-placeholder{
  color: white;
  font-size: 20px;
  opacity: 0.6;
}
input:focus::-webkit-input-placeholder {
  color:transparent
}

.submit{
  width:200px;
  color: white;
  background-color: #000;  
  margin-top: 140px; 
  border-radius:15px;
  transform: translateY(-120px); 

}

.submit:hover{ 
  box-shadow: 0px 2px 25px 2px #000;
}

.answer{
  position: relative;
  bottom: 143px;
}


/* footer*/
footer{
height: 70px;
background: #2c2c2c;
display: flex;
justify-content: space-between;
padding:0 20px;

}

.tblock p{
padding-top: 10px;
color: #565656;
font-size: 20px;
font-weight: 300;
}

.link{
  padding-top: 20px;
}

@keyframes bounce{
  0%{
  }
  50%{
    transform: translate(0, 8px);
  }
}

@media screen and (max-width: 1280px) {

  
/* items */
.block__items{
  height: 100%;
  display: flex;
}
.block__items .container{
  align-items: center;

}
/* rules */
.block__rules{
  height: 100%;
}
/* Timetable */

.block__timetable{
  height: 100%;
  
}


.block__form{
height: 100%;
}
.block__form .container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.block__form img{
  margin-right: 0;
}
.g-recaptcha{
  display: -webkit-inline-box;
}

/* form animation starts */
.form {
  margin: 0 auto 30px auto;
}


@keyframes bounce{
  0%{
  }
  50%{
    transform: translate(0, 8px);
  }
}

}
@media screen and (max-width: 1100px) {
  .block__info {
    height: 100%;
  }
.block__info .container{
justify-content: center;
display: flex;
flex-wrap: wrap;
}
.block__info img{
margin-right: 30px;
}
.rule{
  width: 85%;
}
.text__block{
display: flex;
flex-direction: column;
}
.text__block h2{
text-align: center;
}
.text__block p{
max-width: 90%;
text-align: center;
font-size: 1.5em;

}




  @keyframes bounce{
    0%{
    }
    50%{
      transform: translate(0, 8px);
    }
  }
  
  }
@media screen and (max-width: 600px) {
  h1{
    font-size: 50px;
  }
  h2{
    font-size: 35px;
  }


  /* form animation starts */
  .form {
    width: 400px; 
    height: 500px;
  }
  

  .answer{
    position: relative;
    bottom: 143px;
  }
  
  
  
    @keyframes bounce{
      0%{
      }
      50%{
        transform: translate(0, 8px);
      }
    }
    
    }
@media screen and (max-width: 450px) {

.form {
width: 350px; 
height: 500px;
}




@keyframes bounce{
  0%{
  }
  50%{
    transform: translate(0, 8px);
  }
}

}
@media screen and (max-width: 370px) {
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 25px;
  }
  .form {
  width: 280px; 
  height: 500px;
  }
  
  .nav__showmenu {
    font-size: 35px;
  }
  .header__logo img{
    display: block;
    width: 40px;
    height: 40px;
  }

  .btnGetStarted{
    padding: 10px 30px;
    margin-top: 100px;
    font-size: 25px;
  }
  .g-recaptcha{
    display: -webkit-inline-box;
    transform:scale(0.8);
    -webkit-transform:scale(0.8);
  }
  
  @keyframes bounce{
    0%{
    }
    50%{
      transform: translate(0, 8px);
    }
  }
  
  }
@media screen and (max-width: 320px) {

  .form {
  width: 300px; 
  height: 500px;
  }
/* footer*/
footer{
height: 100%;
}
.g-recaptcha{
  display: -webkit-inline-box;
  transform:scale(0.7);
  -webkit-transform:scale(0.7);
}

  @keyframes bounce{
    0%{
    }
    50%{
      transform: translate(0, 8px);
    }
  }
  
  }